# We are not watching .cabal or .nix to avoid devShell reloading
# as that will cause Nix rebuilds of the hint-nix stuff.
#
# Instead, you should explicitly `direnv reload`.
# watch_file packages/*/*.cabal nix/modules/flake-parts/*.nix

use flake
