# cabal
dist
dist-*
cabal.project.local
cabal.project.local~

# nix
result
result-*

# direnv
.direnv

/.pre-commit-config.yaml

/tailwind.log

# Managed by Nix
/packages/vira/static/js

/state

# Claude
.claude/settings.local.json

# LLM plans
.plan/

/ghcid.txt