name: "CI"
on:
  # Run only when pushing to master branch, and making PRs
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ${{ matrix.system }}
    strategy:
      matrix:
        system: [x86_64-linux, aarch64-darwin]
    steps:
      - uses: actions/checkout@v4
      - name: "Attic: Configure"
        run: |
          attic login chutney https://cache.nixos.asia ${{ secrets.ATTIC_LOGIN_TOKEN }}
          attic use chutney:oss
      - name: Build all flake outputs
        id: om_ci
        run: |
          om ci run --systems "${{ matrix.system }}"
          echo "result=$(readlink result)" >> "$GITHUB_OUTPUT"
      - name: Run Tests
        run: |
          nix --option system "${{ matrix.system }}" run .#vira-tests
      - name: "Attic: Push"
        run: |
          attic push chutney:oss ${{ steps.om_ci.outputs.result }}
