permissions:
  contents: read
name: "CI"
on:
  # Run only when pushing to master branch, and making PRs
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ${{ matrix.system }}
    strategy:
      fail-fast: false
      matrix:
        system: [x86_64-linux, aarch64-darwin, aarch64-linux]
    steps:
      - uses: actions/checkout@v4
      - name: Build all flake outputs
        id: om_ci
        run: |
          om ci run --systems "${{ matrix.system }}"
          echo "result=$(readlink result)" >> "$GITHUB_OUTPUT"
      - name: "`nix run` works"
        run: nix run . -- --help
      - name: Run Tests
        run: |
          nix --option system "${{ matrix.system }}" develop -c cabal test all
      - name: Run E2E Tests
        if: matrix.system == 'x86_64-linux'
        run: |
          CI=1 nix --option system "${{ matrix.system }}" run .#e2e
      - name: Push to Attic
        run: |
          attic login chutney https://cache.nixos.asia ${{ secrets.ATTIC_LOGIN_TOKEN }}
          attic push chutney:oss ${{ steps.om_ci.outputs.result }}
